Repository EOSIO/eos, pull requests merged in 2020-03, with the labels that each got.

#8727 Update the getting started link [merge 2]
  README.md
Labels: documentation

#8739 Tests and basic implementation of Responses for Trace API
  plugins/trace_api_plugin/CMakeLists.txt
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/request_handler.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8745 Added concept of data handlers to trace_api_plugin
  plugins/trace_api_plugin/CMakeLists.txt
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/abi_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/base64_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/request_handler.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/CMakeLists.txt
  plugins/trace_api_plugin/test/include/eosio/trace_api_plugin/test_common.hpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8752 chain_api_plugin swagger file - 2.0
  .gitignore
  plugins/chain_api_plugin/chain.swagger.yaml
Labels: documentation

#8756 Fixes #8600 clean up nodeos options section
  docs/01_nodeos/02_usage/00_nodeos-options.md
Labels: documentation

#8757 link cleos net status reference doc with the peer network protocol doc
  docs/02_cleos/03_command-reference/net/status.md
Labels: documentation

#8753 Trace api extraction 2.0 - first test passing
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/chain_extraction.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/extract_util.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/trace.hpp
  plugins/trace_api_plugin/test/test_extraction.cpp
Labels: Trace API Plugin

#8755 add block producing explainer doc
  docs/01_nodeos/03_plugins/producer_plugin/10_block-producing-explained.md
  docs/01_nodeos/03_plugins/producer_plugin/index.md
Labels: documentation

#8590 db_size_api_plugin swagger file - 2.0
  .gitignore
  plugins/db_size_api_plugin/db_size.swagger.yaml
Labels: documentation

#8754 swagger configuration for docs - 2.0
  docs.json
  docs/01_nodeos/03_plugins/chain_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/db_size_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/net_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/producer_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/test_control_api_plugin/api-reference/index.md
Labels: documentation

#8762 Fix broken link in producer plugin docs - 2.0
  docs/01_nodeos/03_plugins/producer_plugin/index.md
Labels: documentation

#8760 Trace API Plugin and configuration scaffolding
  plugins/trace_api_plugin/CMakeLists.txt
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/abi_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/common.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/configuration_utils.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/request_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/trace_api_plugin.hpp
  plugins/trace_api_plugin/test/CMakeLists.txt
  plugins/trace_api_plugin/test/include/eosio/trace_api_plugin/test_common.hpp
  plugins/trace_api_plugin/test/test_configuration_utils.cpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8765 Add Incoming-defer-ratio description - 2.0
  docs/01_nodeos/03_plugins/producer_plugin/index.md
Labels: documentation

#8767 Fix other blocks.log callout - 2.0
  docs/01_nodeos/04_replays/how-to-generate-a-snapshot.md
Labels: documentation

#8768 Improve create account description - 2.0
  docs/02_cleos/03_command-reference/create/account.md
Labels: documentation

#8770 Trace api extraction - onerror test
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/chain_extraction.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/extract_util.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/trace.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/include/eosio/trace_api_plugin/test_common.hpp
  plugins/trace_api_plugin/test/test_extraction.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
  unittests/api_tests.cpp
Labels: Trace API Plugin

#8774 Change action data handling and output
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/abi_data_handler.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8775 Move to new store provider interface
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/chain_extraction.hpp
  plugins/trace_api_plugin/test/test_extraction.cpp
Labels: Trace API Plugin

#8776 migrate response subsystem to the new store read API
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/request_handler.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8778 Trace API plugin - yield pattern
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/abi_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/base64_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/common.hpp
  plugins/trace_api_plugin/include/eosio/trace_api_plugin/request_handler.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8784 renamed the `trace_api_plugin` namespace to `trace_api`
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api/abi_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/base64_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/chain_extraction.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/common.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/configuration_utils.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/data_log.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/extract_util.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/metadata_log.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/request_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/store_provider.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/trace.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/trace_api_plugin.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/test/include/eosio/trace_api/test_common.hpp
  plugins/trace_api_plugin/test/test_configuration_utils.cpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/test/test_extraction.cpp
  plugins/trace_api_plugin/test/test_logging.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
  plugins/trace_api_plugin/test/test_trace_file.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8785 Trace api - move to exception_with_context
  plugins/trace_api_plugin/abi_data_handler.cpp
  plugins/trace_api_plugin/include/eosio/trace_api/abi_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/chain_extraction.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/common.hpp
  plugins/trace_api_plugin/test/test_extraction.cpp
Labels: Trace API Plugin

#8786 Tests: forked block signal, forked block trxs
  libraries/testing/include/eosio/testing/tester.hpp
  libraries/testing/tester.cpp
  unittests/forked_tests.cpp
Labels: Trace API Plugin

#8790 Trace Sort response actions by global sequence in response formatting
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
Labels: Trace API Plugin

#8791 support relative file names for ABIs
  plugins/trace_api_plugin/include/eosio/trace_api/configuration_utils.hpp
  plugins/trace_api_plugin/test/test_configuration_utils.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8792 Trace API Plugin - initial integration
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
  programs/nodeos/CMakeLists.txt
Labels: Trace API Plugin

#8793 reduce stored block numbers to 32bit values to match protocol
  plugins/trace_api_plugin/include/eosio/trace_api/metadata_log.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/trace.hpp
  plugins/trace_api_plugin/test/test_extraction.cpp
  plugins/trace_api_plugin/test/test_trace_file.cpp
Labels: Trace API Plugin

#8795 Trace API remove base64 and JSON on command line
  plugins/trace_api_plugin/include/eosio/trace_api/base64_data_handler.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/configuration_utils.hpp
  plugins/trace_api_plugin/request_handler.cpp
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/test/test_configuration_utils.cpp
  plugins/trace_api_plugin/test/test_data_handlers.cpp
  plugins/trace_api_plugin/test/test_responses.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8796 Trace API added example ABIs
  plugins/trace_api_plugin/examples/abis/eosio.abi
  plugins/trace_api_plugin/examples/abis/eosio.msig.abi
  plugins/trace_api_plugin/examples/abis/eosio.token.abi
  plugins/trace_api_plugin/examples/abis/eosio.wrap.abi
Labels: Trace API Plugin

#8797 Trace API optimization to avoid deep copy of response variant
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8798 Trace api Automatic Slice File cleanup
  plugins/trace_api_plugin/include/eosio/trace_api/store_provider.hpp
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/test/test_trace_file.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin

#8809 Add initial Trace API plugin docs to nodeos
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: Trace API Plugin, documentation

#8811 Add initial Trace API plugin docs to nodeos - 2.0
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: Trace API Plugin, documentation

#8814 Add RPC Trace API plugin reference to nodeos - 2.0
  docs.json
  docs/01_nodeos/03_plugins/trace_api_plugin/api-reference/index.md
  plugins/trace_api_plugin/trace_api.swagger.yaml
Labels: Trace API Plugin, documentation

#8825 remove leading $ chars from shell codeblocks in README.md - 2.0
  README.md
Labels: documentation

#8824 remove leading $ chars from shell codeblocks in README.md
  README.md
Labels: documentation

#8494 chain_api_plugin swagger file - develop
  .gitignore
  plugins/chain_api_plugin/chain.swagger.yaml
Labels: documentation

#8827 db_size_api_plugin swagger file
  .gitignore
  plugins/db_size_api_plugin/db_size.swagger.yaml
Labels: documentation

#8830 producer_api_plugin swagger file
  plugins/producer_api_plugin/producer.swagger.yaml
Labels: documentation

#8832 swagger configuration for docs
  docs.json
  docs/01_nodeos/03_plugins/chain_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/db_size_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/net_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/producer_api_plugin/api-reference/index.md
  docs/01_nodeos/03_plugins/test_control_api_plugin/api-reference/index.md
Labels: documentation

#8833 Add RPC Trace API plugin reference to nodeos
  docs.json
  docs/01_nodeos/03_plugins/trace_api_plugin/api-reference/index.md
  plugins/trace_api_plugin/trace_api.swagger.yaml
Labels: documentation

#8817 Editorial updates to Trace API conceptual content
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: Trace API Plugin, documentation, needs review

#8835 Trace API documentation update - 2.0
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: Trace API Plugin, documentation

#8844 Trace API documentation update
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: documentation

#8842 Fix double titles in plugins
  docs/01_nodeos/03_plugins/chain_api_plugin/index.md
  docs/01_nodeos/03_plugins/chain_plugin/index.md
  docs/01_nodeos/03_plugins/db_size_api_plugin/index.md
  docs/01_nodeos/03_plugins/faucet_testnet_plugin/index.md
  docs/01_nodeos/03_plugins/history_api_plugin/index.md
  docs/01_nodeos/03_plugins/history_plugin/index.md
  docs/01_nodeos/03_plugins/http_client_plugin/index.md
  docs/01_nodeos/03_plugins/http_plugin/index.md
  docs/01_nodeos/03_plugins/index.md
  docs/01_nodeos/03_plugins/login_plugin/index.md
  docs/01_nodeos/03_plugins/mongo_db_plugin/index.md
  docs/01_nodeos/03_plugins/net_api_plugin/index.md
  docs/01_nodeos/03_plugins/net_plugin/index.md
  docs/01_nodeos/03_plugins/producer_api_plugin/index.md
  docs/01_nodeos/03_plugins/producer_plugin/index.md
  docs/01_nodeos/03_plugins/state_history_plugin/index.md
  docs/01_nodeos/03_plugins/test_control_api_plugin/index.md
  docs/01_nodeos/03_plugins/test_control_plugin/index.md
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
  docs/01_nodeos/03_plugins/txn_test_gen_plugin/index.md
  docs/03_keosd/15_plugins/wallet_api_plugin/index.md
  docs/03_keosd/15_plugins/wallet_plugin/index.md
Labels: documentation

#8837 Trace API compressed data log support
  plugins/trace_api_plugin/CMakeLists.txt
  plugins/trace_api_plugin/compressed_file.cpp
  plugins/trace_api_plugin/include/eosio/trace_api/common.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/compressed_file.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/store_provider.hpp
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/test/CMakeLists.txt
  plugins/trace_api_plugin/test/test_compressed_file.cpp
  plugins/trace_api_plugin/test/test_trace_file.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
  plugins/trace_api_plugin/utils/CMakeLists.txt
  plugins/trace_api_plugin/utils/compress_cmd.cpp
  plugins/trace_api_plugin/utils/include/eosio/trace_api/cmd_registration.hpp
  plugins/trace_api_plugin/utils/trace_api_util.cpp
Labels: Trace API Plugin

#8845 [docs] trace api reference api correction - 2.0
  docs/01_nodeos/03_plugins/trace_api_plugin/index.md
Labels: documentation

#8852 [develop] Trace API Compressed data log Support
  plugins/trace_api_plugin/CMakeLists.txt
  plugins/trace_api_plugin/compressed_file.cpp
  plugins/trace_api_plugin/include/eosio/trace_api/common.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/compressed_file.hpp
  plugins/trace_api_plugin/include/eosio/trace_api/store_provider.hpp
  plugins/trace_api_plugin/store_provider.cpp
  plugins/trace_api_plugin/test/CMakeLists.txt
  plugins/trace_api_plugin/test/test_compressed_file.cpp
  plugins/trace_api_plugin/test/test_trace_file.cpp
  plugins/trace_api_plugin/trace_api_plugin.cpp
  plugins/trace_api_plugin/utils/CMakeLists.txt
  plugins/trace_api_plugin/utils/compress_cmd.cpp
  plugins/trace_api_plugin/utils/include/eosio/trace_api/cmd_registration.hpp
  plugins/trace_api_plugin/utils/trace_api_util.cpp
Labels: Trace API Plugin

#8881 use http async api support for Trace API get_block [2.0]
  plugins/trace_api_plugin/trace_api_plugin.cpp
Labels: Trace API Plugin
